html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  @font-face {
    font-family: 'DancingScript-Regular';
    src: url(../fonts/DancingScript-Regular.woff);
    font-weight: normal;
    font-style: normal;
  }
  
  
 
  @font-face {
    font-family: 'montserrat';
    src: url(../fonts/montserrat-v12-latin-regular.woff);
    font-weight: normal;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'montserrat';
    src: url(../fonts/montserrat-v12-latin-700.woff);
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'roboto';
    src: url(../fonts/roboto-slab-v7-latin-regular.woff);
    font-weight: normal;
    font-style: normal;
  }

 
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .page-nav-container {
    width: 940px;
    margin: 0 auto;
  }
  
  .page-header {
    background-color: #ffffff;
    margin-bottom: 70px;
  }
  
  .page-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
  }
  
  .site-logo {
    animation: logo-appear 1s linear;
    color: #fed136;
    font-family: 'DancingScript-Regular';
    font-size: 30px;
    line-height: 41px;
    text-decoration: none;
  }


.site-navigation {
    display: flex;
    justify-content: space-between;
    width: 485px;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    list-style: none;
    text-transform: uppercase;
    font-family: 'montserrat', sans-serif;
    font-weight: normal;
    
  }

  .site-item a:hover,
.site-item a:focus {
    color:#fed136;
}

.site-item a {
    text-decoration: none;
    transition: color 0.2s linear;
    color: #222222;
}

.capture-1 {
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 75x;
    color: #222222;
    margin: 0 auto 14px;
    text-transform: uppercase;
  
}

.capture-2 {
    text-align: center;
    font-family: 'DancingScript-Regular', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #333333;
    margin: 9px 0;
}

.item-block {
  width: 940px;
  margin: 0 auto;

}

.circle-icon {
  text-align: center;
  display: block;
  margin: 0 auto;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(254, 209, 54);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
.icon-list {
  
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 38px;
  padding: 0;
  list-style: none;
  
}

.icon-list-capture {
  display: block;
  font-family: 'montserrat';
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  line-height: 28px;
  color: #222222;
  margin: 10px 0;
  
}


.text-block {
  color: #777777;
  font-family: 'roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 10px 0;

}

.features-list-item {
  width: 290px;
  padding-top: 26px;
}

.capture-12 {
  color: #ffffff;
  text-align: center;
  font-family: 'montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 75px;
  
  text-transform: uppercase;
  display: block;
}
.text-box {
  width: 455px;
  height: 54px;
  display: block;
  margin-bottom: 30px;
  font-family: 'montserrat';
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: #bbbbbb;
  text-transform: uppercase;
  text-indent: 20px;
  
}

/*.text-box:nth-last-child {
  margin-bottom: 0;
}*/


.textarea-box {
  width: 455px;
  height: 220px;
  display: block;
  margin-bottom: 30px;
  font-family: 'montserrat';
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: #bbbbbb;
  text-transform: uppercase;
  padding: 20px;
  resize: none;
  
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 940px;
}
footer {
  width: 100%;
  min-width: 940px;
  padding: 100px 0;
  margin-top: 100px;
  background: #222 url(../img/map.png) center top no-repeat;

}

.forms {
  width: 940px;
  margin: 0 auto;
  

}

.rectangle {
  display: block;
  background-color: #fed136;
  font-family: 'montserrat';
  font-weight: bold;
  font-size: 18px;
  line-height: 18px; 
  color: #ffffff;
  text-transform: uppercase;
  width: 244px;
  height: 68px;
margin: 0 auto;
border: 0px;
border-radius: 2px;
}

input {
  border: 1px solid #ccc;
  border-radius: 2px;
}

textarea {
  border: 1px solid #ccc;
  border-radius: 2px;
}

textarea:focus:invalid,
input:focus:invalid {
  outline: 1px solid red; 
 }

 textarea:focus:valid,
 input:focus:valid {
  outline: 1px solid green;
 }

 input::placeholder {
color:#bbb;
 }

