html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .page-nav-container {
    width: 1200px;
    margin: 0 auto;
  }
  
  .page-header {
    background-color: #ffffff;
    margin-bottom: 116px;
  }
  
  .page-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
  }
  
  .site-logo {
    animation: logo-appear 1s linear;
    color: #95e1d3;
    font-family: 'Monsterrat', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
  }

  @keyframes logo-appear {
    0% {
      transform: translateY(-200px);
      opacity: 0;
    }
  
    50% {
      transform: translateY(0);
      opacity: 1;
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    width: 492px;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 400; 
  }

  .site-item a:hover,
.site-item a:focus {
    color:#f38181;
}

.site-item a {
    text-decoration: none;
    transition: color 0.2s linear;
    color: #95e1d3;
}

.capture-1 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    line-height: 24px;
    color: #333333;
    margin-top: 0px;
}

.capture-2 {
    text-align: center;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #333333;
    text-transform: uppercase;
    margin-top: 23px;
}

.icons:nth-last-child(-n + 3) {
  margin-bottom: 0;
}


.icon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1180px;
    padding: 0;
    margin: 66px auto;

}

.icon-list li {
    width: 325px;
    list-style: none;
    display: flex;
   
}

.icon-list-capture {
  position: absolute;
  margin-left: 84px;
  font-family: 'Montserra', sans-serif;
  font-weight: 400px;
  font-size: 14px;
  line-height: 14px;
  color: #333333;
  text-transform: uppercase;
}


.icon-alarm {
  background: url(../img/alarm.png) left top no-repeat;
}

.icon-line-graphe {
  background: url(../img/line-graphe.png) left top no-repeat;
}

.icon-computer {
  background: url(../img/computer.png) left top no-repeat;
}

.icon-book2 {
  background: url(../img/book2.png) left top no-repeat;
}

.icon-home {
  background: url(../img/home.png) left top no-repeat;
}

.icon-image {
  background: url(../img/image.png) left top no-repeat;
}

.features-list-item {
  float: left;
  width: 380px;
  cursor: pointer;
}

.capture-block {
    display: inline-block;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    text-transform: uppercase;
}

.text-block {
    margin-left: 84px;
    margin-top: 24px;
    margin-bottom: 100px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}

.text-capture-block {
    display: flex;

}

.main-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 980px;
  text-align: center;
  color: #999999;
  margin-top: 90px;
  margin: 55px auto 74px;
}

.card-boys {
  position: relative;
  padding: 0px;
  list-style: none;
  width: 380px;
  height: 570px;
  margin: 15px;
  float: left;  
  display: block;

}

.team li:first-child {
  margin-left: 0px;
}

.team li:last-child {
  margin-right: 0px;
}

.caption-line {
  display: block;
  background: #f38181;
  width: 60px;
  height: 3px;
  left: 640px;
  margin: 10px auto;
}


.team {
  margin: 0 auto;
  display: flex;
  list-style: none;
  position: relative;
  justify-content: space-between;
  width: 1200px;
}


.card-boys-foto {
  z-index: 2;
  position: absolute;
  width: 380px;
  height: 470px;
}

.man-name {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14;
  line-height: 14px;
  color: #333333;
  text-align: center;
  margin: 0 auto;
  top: 500px;
}

.profession {
  position: absolute;
  font-family: 'Roboto Light Italic', sans-serif;
  font-weight: 300;
  font-size: 15;
  line-height: 24px;
  color: #999999;
  text-align: center;
  margin: 0 auto;
  top: 528px;

}
.button-list {
  width: 56px;
  height: 56px;
  margin: 0px;
  padding: 0px;
  border-right: 1px solid #f9bd87;
  background-color: #fce38a;
  display: block;
}

.many-buttons {
  position: absolute;
  top: 210px;
  left: 79px;
  width: 224px;
  height: 56px;
  z-index: 3;
  background: #fce38a;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.card-boys p {
  display: block;
  text-align: center;
  width: 100%;
}
.button-list:hover {
  cursor: pointer;
  background-color: #95e1d3;
}

.button-facebook {
  background: url(../img/facebook.png) center center no-repeat;
}

.button-twitter {
  background: url(../img/twitter.png) center center no-repeat;
}

.button-pinterest {
  background: url(../img/pinterest.png) center center no-repeat;
}

.button-instagram {
  background: url(../img/instagram.png) center center no-repeat;
}

.card-fon {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 380px;
  height: 470px;
  z-index: 1;
  background: #95e1d3; 
}




.card-content {
  position: absolute;
  width: 380px;
  height: 470px;
  left: 0px;
  top: 0px;
  z-index: 2;
  display: none;
}

.card-boys:hover .card-content {
  display: block;
}

.card-boys:hover .card-content, 
.card-boys:hover .card-boys-foto {
  left: -10px;
  top: -10px;
}

.card-gradient {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 380px;
  height: 470px;
  background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
  z-index: 2;
  opacity: 0.65;

}

.card-gradient ,
.card-gradient:hover,
.card-gradient:focus {
    background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
}

footer {
  display: flex;
  justify-content: space-between;
  height: 62px;
  border-top: 1px solid #e5e5e5;
  margin-top: 54px;
 

}
.footer-content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.footer-fon {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  margin: 10px;


}

.footer-fon a {
  color: #f38181;
  text-decoration: none;
}

.rectangle {
  background-color: #95e1d3;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  line-height: 14px; 
  color: #ffffff;
  text-transform: uppercase;
  width: 152px;
  height: 40px;
  border: 0px;

}

.subscribe-text {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.subscribe-text input {
  width: 228px;
  height: 40px;
  text-indent: 12px;
  border: 1px solid #e7e7e7;
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
}
  

