
@mixin transition($transition) {
    -webkit-transition: $transition;
      -o-transition: $transition;
        transition: $transition;
  }
  
.page-header {
    background: $headerBackground url(img/slider-min.png) top center no-repeat;
    background-size: cover;
    margin-bottom: 116px;
    height: 1000px;
  
    .page-nav-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      min-height: 100px;
      width: 1200px;
      margin: 0 auto;
  
      .site-logo {
        .link {
          -webkit-animation: logo-appear 1s linear;
                  animation: logo-appear 1s linear;
          color: $logoColor;
          font-family: 'Montserrat', sans-serif;
          font-size: 30px;
          line-height: 30px;
          font-weight: 700;
          text-decoration: none;
        }
      }
  
      .site-navigation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 492px;
        padding: 0;
        font-size: 14px;
        line-height: 14px;
        list-style: none;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400; 
  
        .item {
          a {
            text-decoration: none;
            @include transition(color 0.2s linear);
            color: $menuLinkColor;
  
            &:hover,
            &:focus {
              color:$menuLinkColorHover;
            }
          }
  
        }
        .item-cart,
        .item-search {
          a {
            display: block;
          }
  
          .item-cart {
            .icon-SHOPPINGCART,
            .icon-SHOPPINGCART\:regular {
              background-image:url('img/header-icons.svg');
              background-position:0 -18px;
              background-repeat:no-repeat
            }
  
            .icon-SHOPPINGCART-dims {
              width:18px;
              height:18px
            }
          }
  
          .item-search {
            .icon-MAGNIFYINGGLASS,
            .icon-MAGNIFYINGGLASS\:regular {
              background-image:url('img/header-icons.svg');
              background-position:0 0;
              background-repeat:no-repeat 
            }
  
            .icon-MAGNIFYINGGLASS-dims{
              width:18px;
              height:18px
            }
          }
        }
      }
    }
  
    .capture-11 {
      text-align: center;
      font-family: 'Kaushan Script', cursive;
      font-size: 72px;
      line-height: 72px;
      color: $headerCaptureTopColor;
      margin: 140px auto 0;
    }
    
    .capture-22 {
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 150px;
      line-height: 140px;
      color: $headerCaptureBottomColor;
      text-transform: uppercase;
      margin: 40px auto 0;
      display: block;
    }
    
    .capture-button {
      border: 3px solid $headerCaptureButtonColor;
      color: $headerCaptureButtonColor;
      font-family:  'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 14px;
      text-transform: uppercase;
      text-align: center;
      padding: 10px 0;
      margin: 100px auto 0;
      width: 160px;
      height: 40px;
      display: block;
      text-decoration: none;
    }
  }