$colorWhite: #ffffff;
$colorDarkGray: #333333;
$colorLightGray: #999999;
$colorPink: #f38181;
$colorYellow: #fce38a;
$colorGreen: #95e1d3;

$headerBackground: #e88182;
$logoColor: $colorWhite;
$menuLinkColor: $colorWhite;
$menuLinkColorHover: $colorYellow;
$headerCaptureTopColor: $colorWhite;
$headerCaptureBottomColor: $colorWhite;
$headerCaptureButtonColor: $colorWhite;
$footerBorderColor: #e5e5e5;
$copyrightLinkColor: $colorPink;
$subscribeInputBorderColor: #e7e7e7;
$subscribeInputTextColor: #cccccc;
$subscribeButtonBackgroundColor: $colorGreen;
$subscribeButtonTextColor: $colorWhite;
$mainCaptureColor: $colorDarkGray;
$mainCaptureLineColor: $colorPink;
$servicesTextColor: $colorLightGray;
$mainTextColor: $colorLightGray;
$teamCardfonColor: $colorGreen;
$teamMenNameColor: $colorDarkGray;
$teamProfessionColor: $colorLightGray;
$manyButtonsBackground: $colorYellow;
$manyButtonsBorderColor: #f9bd87;
$manyButtonsBackgroundHover:$colorPink;
$cardGradient: 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%;